button {
  width: 200px;
  height: 100px;
  font-size: 50px;
  font-family: fantasy;
  background-color: red;
  border: solid 10px  rgb(60, 155, 127);
}

button:hover {
  background-color: rgb(106, 106, 255);
}

#button {
  position: fixed;
  top: 80%;
  object-fit: contain;
  z-index: 2;
}

#start_text {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
 
}

#first-line {
  font-size: 65px;
  font-weight: 300px;
  font-family: fantasy;
  line-height: 0.1;
   color: rgb(60, 155, 127);
  -webkit-text-stroke: 3px  rgb(85, 0, 0);
}
#second-line {
  font-size: 75px;
  font-weight: 300px;
  font-family: fantasy;
  color: red;
  line-height: 0.1;
}
#third-line {
  line-height: 0.1;
  font-size: 40px;
  font-family: fantasy;
  color: white;
  z-index: 1;
}
#fourth-line {
  line-height: 0.1;
  font-size: 40px;
  font-family: fantasy;
  color: white;
  z-index: 2;
}

#fiveth-line {
  line-height: 0.1;
  font-size: 75px;
  font-family: fantasy;
  color: rgb(35, 42, 45);
  z-index: 2;
   -webkit-text-stroke: 3px rgb(60, 155, 127);
}

.plankton {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%); 
  max-width: 100vw;  
  max-height: 150vh;  
  width: auto;
  height: auto;
  object-fit: contain;
  pointer-events: none;
  z-index: 2;
}

body {
  background-color: black;
}
