* {
  user-select: none;
}

.button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  position: absolute;
  left: 10px;
}

.pccase {
  width: 700px;
  height: auto;
  z-index: 1;
}

.mistoProZakladniDesku {
  width: 16.5vw;
  height: 33.5vh;
  position: absolute;
  left: 67.5%;
  top: 35%;
  z-index: 2;
}

.zakladniDeska {
  width: 120px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 50px;
  z-index: 3;
  background: url("../../Images/motherboard.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition:
    top 0.5s ease,
    left 0.5s ease,
    width 0.5s ease,
    height 0.5s ease;
}

.zakladniDeska img {
  position: relative;
}

.mistoProProcesor {
  width: 4.9vw;
  height: 10vh;
  position: absolute;
  left: 74%;
  top: 41.5%;
  z-index: 6;
}

.procesor {
  width: 120px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 5;
  background: url("../../Images/cpu.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition:
    top 0.5s ease,
    left 0.5s ease,
    width 0.5s ease,
    height 0.5s ease;
}

.procesor img {
  position: relative;
}

.mistoProChladicProcesor {
  width: 9vw;
  height: 15vh;
  position: absolute;
  left: 72%;
  top: 40%;
  z-index: 5;
}

.chladicProcesor {
  width: 120px;
  height: 500px;
  position: absolute;
  top: 400px;
  left: 50px;
  z-index: 6;
  background: url("../../Images/fan_cpu.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition:
    top 0.5s ease,
    left 0.5s ease,
    width 0.5s ease,
    height 0.5s ease;
}

.chladicProcesor img {
  position: relative;
}

.wrapper {
  background: url("../../Images/case_empty.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  height: 100%; /* Full viewport height */
  width: 100%;
}

.game-wrapper {
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  height: 100vh; /* Full viewport height */
}

.component {
  cursor: pointer;
}

.components-wrapper {
  position: fixed;
  left: 0;
  display: flex;
  z-index: 10;
  top: 0;
}

.pccase-component {
  position: relative;
  z-index: 2;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: 3px solid rgba(204, 27, 27, 0.8);
}

.pccase-component:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.pccase-motherboard {
  width: 228px;
  height: 234px;
  left: 139px;
  top: 78px;
}

.pccase-cpu {
  width: 45px;
  height: 44px;
  left: 234px;
  top: -109px;
}

.pccase-fan {
  width: 45px;
  height: 44px;
  left: 234px;
  top: -109px;
}

.game-info {
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
}
